@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Oswald&display=swap');

/* the asterisk applies the rules to all elements, general rule so up near top */
* {
    margin: 0;
    padding: 0;
    border: 0;
}


body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a  /*charcoal color */
}

/*Headings and logo */
h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;  /*consistent with logo */
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px; /*give the link some space */
}

#menu a {
    text-decoration: none;  /* removes default underline from the menu items */
    color: inherit; /* inherits text color frrom body element as this is only ascendant to have text color set */
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;  /* bottom border creates an underline effect when user hovers over the menu elements */
}

.active {
    border-bottom: 1px solid #3a3a3a;
}