@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Oswald&display=swap');

/* the asterisk applies the rules to all elements, general rule so up near top */
* {
    margin: 0;
    padding: 0;
    border: 0;
}


body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a  /*charcoal color */
}

/*Headings and logo */
h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;  /* moves the margin 30px in from left, doesnt hug the page
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;  /*consistent with logo */
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px; /*give the link some space */
}

#menu a {
    text-decoration: none;  /* removes default underline from the menu items */
    color: inherit; /* inherits text color frrom body element as this is only ascendant to have text color set */
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;  /* bottom border creates an underline effect when user hovers over the menu elements */
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#cover-text, #cover-text h2 {
    color: white;
}

/* Creates clearance between the header and the image */
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative; /* allows child containers to fix posiitons absolute to the parent */
}

#hero-image {
    height: 600px;  /*SETS HEIGHT OF THE DIV HOLDING THE HERO IMAGE */
    width: 100%;    /* fills screen width */
    background: url('../images/hero-image.webp') no-repeat center center; /*up one level to css folder, then find file in images folder, wont repeat if smaller than window, center vertically and horizontally */

    /* animation runs when image loads */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards; /* reatains final state after animation has run, doesnt revert back to initial state */
}


/* creates the level of zoom or apparent animation for the hero image on start up */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }

}

#cover-text {
    font-family: Oswald, sans-serif;
    font-size: 130%;
    text-transform: uppercase;
    letter-spacing: 4px;

    /* set DIV size */
    width:300px;
    height:200px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(241, 109, 107, 0.7); /* set opacity at .7 to allow background image to come through */

    bottom:30px;  /* fix the position of the text box absolute to image */
    right: 150px;
    position: absolute;
}

/* styling for club ethos */

#club-ethos{
    height: 600px; /*consistent with height on main page */
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
    
}

hr {
    width: 100%;
    border-top: 1px solid #3a3a3a;
    margin: 5px 0; 
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
    
}

#center-about {
    width: 33%;
    margin: 0 auto;  /* This centers this Div , there is no float-center option, the order of the divs is important for this to work */
}

.left-about-heading {
    width: 60%;
    float: right;  /* align text to the image */
    line-height: 20px; /* ease of reading */
    clear: both; /* aligns top and bottom div vertically */
    margin-bottom: 50px; /* maintain a space between the divs */
}

.right-about-heading {
    width: 60%;
    float: left;  /* align text to the image */
    line-height: 20px; /* ease of reading */
    clear: both; /* aligns top and bottom div vertically */
    margin-bottom: 50px; /* maintain a space between the divs */
}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}

#welcome {
    text-align: center;
    margin: 20px 0; /*pushes heading down 50 px */ 
    font-size: 280%;
}

/* create a light grey circular border around the circular image */
#circle-container {
width:300px;
height:300px;
padding:30px;
border-style: solid;
border-color: #ccc;
border-width: 1px;
border-radius: 50%;  /* Turns a square into a circle, if not square you get a ellipse */
margin: 0 auto; /* centers the circle within the parent block */
}

#circle-cover-bg {
    background: url(../images/ethos-center-image.jpg) no-repeat center center;
    height: 100%;  /* Sets height to 100% of parent Div, if not set, image will not be displayed */
    border-radius: 50%;  /* Turns a square into a circle, if not square you get a ellipse */
}

/* Meeting Times styling */

#times {
    background-image: url(../images/dublin-city.webp);
    background-repeat: no-repeat;
    background-size: cover; /* image fills the size allocated */
    background-position: center;
    width:100%;
    overflow:hidden; /* [prevents the image from overflowing to other areas */
}

/* Each div in the section is a child of the times section */
#times div {
    color: #fafafa;
    width:20%;  /* there are 5 panels */
    background-color: rgba(0, 0, 0, 0.6); /* make background slightly Opaque to emaphasise the text  */
    height: 300px; 
    float: left;  /* Panels to display horizontally */
    text-align: center;
    padding: 30px 0 0 10px;  /* 30 px from top, 10px from left */
    border: 2px solid white;  /*create a white border around each div */
    box-sizing: border-box; /*includes the border size in the 20% div width */
}

#times h2 {
    color: #fafafa;
}

